/* 

font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/* Ui Componen5s */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  margin-left: -18px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 13px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #44c553;
  border-color: #e0e0e0;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox.checkbox-sm label::before {
  width: 30px;
  height: 30px;
  top: -13px;
}
.checkbox.checkbox-sm label::after {
  width: 30px;
  height: 30px;
  padding-left: 4px;
  font-size: 20px;
  left: 1px;
  top: -13px;
}
.checkbox.checkbox-sm label {
  padding-left: 18px;
  top: 13px;
}
.checkbox.checkbox-md label::before {
  width: 34px;
  height: 34px;
  top: -17px;
}
.checkbox.checkbox-md label::after {
  width: 34px;
  height: 34px;
  padding-left: 4px;
  font-size: 24px;
  left: 1px;
  top: -18px;
}
.checkbox.checkbox-md label {
  padding-left: 22px;
  top: 17px;
}
.checkbox.checkbox-lg label::before {
  width: 46px;
  height: 46px;
  top: -28px;
}
.checkbox.checkbox-lg label::after {
  width: 46px;
  height: 46px;
  padding-left: 4px;
  font-size: 36px;
  left: 1px;
  top: -31px;
}
.checkbox.checkbox-lg label {
  padding-left: 34px;
  top: 32px;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #a3a7ab;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #44c553;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'Font Awesome 5 Pro';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

.radio.radio-sm label::before {
  width: 30px;
  height: 30px;
  top: -13px;
}
.radio.radio-sm label::after {
  width: 22px;
  height: 22px;
  padding-left: 4px;
  font-size: 20px;
  left: 4px;
  top: -9px;
}
.radio.radio-sm label {
  padding-left: 18px;
  top: 13px;
}
.radio.radio-md label::before {
  width: 34px;
  height: 34px;
  top: -17px;
}
.radio.radio-md label::after {
  width: 26px;
  height: 26px;
  padding-left: 4px;
  font-size: 24px;
  left: 4px;
  top: -13px;
}
.radio.radio-md label {
  padding-left: 22px;
  top: 17px;
}
.radio.radio-lg label::before {
  width: 46px;
  height: 46px;
  top: -28px;
}
.radio.radio-lg label::after {
  width: 36px;
  height: 36px;
  padding-left: 4px;
  font-size: 36px;
  left: 5px;
  top: -23px;
}
.radio.radio-lg label {
  padding-left: 34px;
  top: 32px;
}



/* Normal Styling */

html {
  scroll-behavior: smooth;
}

.sec-btns.text-right {width: 100px;position: absolute;right: 0;top: 0;padding-right: 15px;padding-left: 15px;}

.header-secondary  .row {
  position: relative;
}

a.logo-header img {
  width: 280px;
}

*:focus {
  outline: 1px solid #5dba47 !important;
}

header {
  position: relative;
  z-index: 2;
}

section#intro-section {
  background: url(../img/stats-business.jpg) no-repeat center center / cover;
  position: relative;
  background-attachment: fixed;
  height: 610px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -35px;
  background-size: cover;
}

.header-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

section#intro-section h1 {
  font-size: 41px;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 611px;
}

section#intro-section:before {
  background: #000c17 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.intro-banner-btns {
  display: flex;
}

.intro-banner-btns a {
  background: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  margin-right: 19px;
  min-width: 128px;
  text-align: center;
  font-weight: 600;
}

.right-side {
  width: 250px;
  position: absolute;
  right: 15px;
  top: 35px;
}

.header-secondary .container {
  position: relative;
}

.header-secondary .right-side i {
  font-size: 20px;
  color: #0bb300;
  margin-right: 9px;
  width: 40px;
  text-align: center;
  font-size: 23px;
  height: 32px;
  padding: 4px 1px;
}

.header-secondary .right-side ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.header-secondary .right-side ul li {
  display: flex;
  align-items: center;
}

.header-secondary .right-side a {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}

.left-side {
  width: 250px;
  position: absolute;
  left: 15px;
  top: 35px;
}

.header-secondary .left-side i {
  font-size: 20px;
  color: #0bb300;
  margin-right: 9px;
  width: 40px;
  text-align: center;
  font-size: 23px;
  height: 32px;
  padding: 4px 1px;
}

.header-secondary .left-side ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.header-secondary .left-side ul li {
  display: flex;
  align-items: center;
}

.header-secondary .left-side a {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}

img.enquire-img {
  width: 180px;
  margin: 0 auto;
}

.about_us_content h2 {
  color: #0baf01;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
}

.about_us_area {
  padding: 60px 0;
}

.about_us_content {
  /* padding-top: 80px; */
}

.about_us_content > a {
  color: #06a220;
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.about_us_content > a span {
  padding-left: 10px;
}

.about_us_content p {
  font-size: 15px;
  font-weight: 500;
}

.couter_up_area {
  height: 330px;
  position: relative;
  background: url(../img/stats-values2.jpg) no-repeat;
  background-position: left top;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  width: 100%;
}

.couter_up_area:before {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(247, 247, 247, 0.42);
  content: "";
  width: 100%;
  height: 100%;
}

.single_count > h1 {
  color: #333333;
  font-size: 60px;
}

.single_count > h5 {
  color: #333333;
  font-size: 16px;
  text-transform: capitalize;
}



/*end of counter up*/
.footer-area {
  background: #002144 none repeat scroll 0 0;
  padding: 70px 0;
}

.single-footer > h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.single-footer {
  font-size: 14px;
}

.submt-button {
  background: #06a220 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  height: 40px;
  margin-top: 15px;
  text-transform: uppercase;
  width: 50%;
  float: none;
}

.single-footer .form-control {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #06a220;
  color: #e6e6e8;
}

.footer-text {
  color: #fff;
}

.footer-text p {
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

.copyright-area {
  background: #343a40 none repeat scroll 0 0;
  padding: 20px 0 10px;
}

.footer-text a {
  background: #06a220 none repeat scroll 0 0;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
}

.footer-text a:hover {
  background: #fff none repeat scroll 0 0;
  color: #343a40;
}

.list > li a {
  color: #fff;
  line-height: 25px;
  text-transform: capitalize;
}

.list a:hover {
  color: #F9BF3B;
}

.submt-button:hover {
  background: #fff none repeat scroll 0 0;
  color: #f9bf3b;
}

a.logo-footer {
  display: block;
  margin-bottom: 11px;
}

a.logo-footer img {
  width: 160px;
  background: #fff;
  padding: 5px 10px;
}

a.fbr-logo {
  display: block;
}

a.fbr-logo img {
  width: 280px;
  background: #fff;
  padding: 5px 15px 10px;
}

ul.footer-quicklinks {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.footer-quicklinks li a {
  color: #ffffff;
  font-weight: 700;
}

ul.footer-quicklinks li a:before {
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
  margin-right: 4px;
  display: inline-block;
  color: #06a220;
}

.single-footer p {
  color: #fff;
  font-weight: 600;
}

ul.footer-quicklinks li {
  margin-bottom: 5px;
}

.navbar-dark .navbar-brand {
  font-size: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
}

section#login-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

section#login-section .tab-wrapper {
  margin: 0 auto;
  border: 1px solid #eaeaea;
  padding: 40px;
  box-shadow: 0 10px 10px #f1f1f1;
}

section#login-section form label {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

.bod-0 {
  border: 1px solid transparent;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-shadow: unset;
  padding: 0.35rem 0.4rem;
}

.bod-0:focus {
  outline: 0 !important;
  border: 1px solid transparent !important;
  border-bottom: 1px solid #002cb8 !important;
  box-shadow: unset;
}

ul.nav.nav-tabs {
  /* border: none; */
  margin-bottom: 30px;
}

section#login-section button[type=submit] {
  padding: 8px 40px;
  text-align: center;
  transition: 0.5s ease;
}

button[type=submit].btn-containing-loader.enabled {
  background: #fff;
  color:#3a3a3a;
  cursor: no-drop;
  opacity: 1;
}

button .loader {
  margin-right: 11px;
}

section#login-section .container {
  border: 1px solid #0baf01;
  padding: 30px 20px;
  max-width: 1140px;
}

button[type=submit].btn-containing-loader {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  height: 53px;
}

form .form-message {
  text-align: left;
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
  color: #343a40;
  padding-right: 20px;
  margin-left: 19px;
  transition: 0.4s ease;
}

form .form-message.error {
  color: #f00;
}
form .form-message.success {
  color: #0baf01;
}

body.page-dashboard .form-message {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-size: 15px;
  padding: 3px 15px;
}

body.page-dashboard .form-message.error {
  border: 1px solid #f00;
}

img.delivery_boy {
  width: 375px;
}

.form-field-status {display: block;}

.form-field-status .error {
  color: #f00;
  display: block;
  font-size: 15px;
  font-weight: 500;
}

section#dashboard-verification .container {
  background: #f5fff494;
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
  border: 1px solid #9de199;
  border-radius: 6px;
  position: relative;
}

section#dashboard-verification {
  margin-top: 10px;
  margin-bottom: 50px;
}

section#dashboard-verification h2 {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: rgb(52, 58, 64);
  text-transform: capitalize;
  margin-bottom: 20px;
}

section#dashboard-verification .verification-note {
  max-width: 1050px;
  margin: 0 auto 30px;
  background: #fff;
  padding: 20px 15px;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
  text-align: left;
}



section#dashboard-verification .verification-note p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
}

.verification-uploader {
  text-align: left;
}

.verification-uploader h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(28, 60, 130);
  text-align: left;
}

.verification-uploader .dropzone .dz-message .dz-button {
  font-weight: 600;
}

.verification-uploader .dropzone .dz-message {
  margin: 4em 0;
}

.verification-uploader .dropzone {
  min-height: 100px;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
  position: relative;
  background: rgb(220, 220, 220);
}

section#dashboard-verification .verification-note ol {
  padding-left: 30px;
  text-align: left;
}

section#dashboard-verification .verification-note li {
  color: rgb(104, 104, 104);
  font-weight: 600;
}

.verification-uploaded img {
  height: auto;
  width: 100%;
}

form#customer-verification-proceed-form button {height: 50px;padding: 10px;width: 100%;}

.verification-uploaded {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  width: 100%;
  padding: 15px 15px;
  background: #fff;
  margin-bottom: 30px;
  text-align: left;
  justify-content: flex-start;
}

.verification-uploaded h4 {
  color: rgb(75, 181, 67);
  font-size: 18px;
  font-weight: 700;
}

.verification-uploaded-note {
  margin: 20px auto;
  max-width: 1050px;
  background: #fff;
  padding: 25px 15px;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
}

.verification-uploaded-note li {
  color: rgb(75, 181, 67);
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
  text-align: left;
}

.verification-uploaded-note h4 {
  font-size: 21px;
  line-height: 29px;
  color: rgb(75, 181, 67);
  font-weight: 600;
}

section#dashboard-parcels .container {
  background: rgba(245, 255, 244, 0.5803921568627451);
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
  position: relative;
}

section#dashboard-parcels {
  margin-top: 50px;
  margin-bottom: 50px;
}

span.logo-green {
  color: rgb(94, 178, 8);
  font-weight: 700;
}

span.logo-blue {
  color: rgb(33, 78, 183);
  font-weight: 700;
}

.create-parcel-btn-wrapper p {
  font-size: 22px;
  font-weight: 800;
  color: rgb(52, 58, 64);
  text-transform: uppercase;
}

.parcel-welcome-header h4 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

section#dashboard-addresslog .container {
  background: rgba(245, 255, 244, 0.5803921568627451);
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
  position: relative;
}

section#dashboard-addresslog {
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-wrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  background: #fff;
  padding: 35px 20px;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
}

.form-wrapper label {
  font-size: 14px;
  font-weight: 600;
}

form.form-in .alert.alert-danger {
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid #f00;
  width: 100%;
  display: block;
  color: #f00;
  border-radius: 0;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
}

.goback-button {
  text-align: right;
}

.goback-button a {
  display: inline-block;
  background: #fff;
  padding: 10px 20px;
  font-weight: 600;
  border: 1px solid rgb(68, 197, 83);
  border-radius: 6px;
  color: rgb(68, 197, 83);
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
}

.btn-add-consignee-wrapper a {margin-bottom: 14px;width: 222px;height: 42px;line-height: 30px;font-weight: 700;text-transform: uppercase;font-size: 14px;}


.form-wrapper h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(52, 58, 64);
}

.create-parcel-btn-wrapper {
  padding: 4em 0 4em;
  display: block;
  max-width: 830px;
  margin: 30px auto  60px;
  border: 2px dashed rgb(157, 225, 153);
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.create-parcel-btn-wrapper::before {content: '';position: absolute;width: 100%;height: 100%;background: url(../img/dashboard-back.jpg);left: 0;top: 0;opacity: 0.2;background-size: cover;background-repeat: no-repeat;filter: blur(5px);}


.btn-add-consignee-wrapper h6 {
  color: rgb(52, 58, 64);
  font-weight: 800;
}

.page-item.active .page-link {
  background-color: rgb(157, 225, 153);
  border-color: rgb(157, 225, 153);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: rgb(255, 255, 255);
  border-color: rgb(212, 212, 212);
}

h2.dashboard-heading {
  text-align: left;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
  color: rgb(52, 58, 64);
}

div#parcels_table_wrapper {
  background: #fff;
  padding: 20px 0;
  border: 1px solid rgb(244, 247, 250);
}

h2.dashboard-heading:after {content: "";position: relative;border-bottom: 3px solid rgb(94, 178, 8);display: block;width: 100px;}

.verification-proceed-button-wrapper {max-width: 510px;margin: 40px auto 30px;}

.verification-proceed-button-wrapper .form-message {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}

.verification-proceed-button-wrapper .form-message.success {
  color: rgb(52, 58, 64);
}

.customer-account-status-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 310px;
  width: auto;
}

.customer-account-badge {
  padding: 10px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.66);
  font-weight: 500;
  border: 1px solid rgb(248, 254, 249);
}

div#preloader-loader {
  width: 100%;
  height: 0;
  position: fixed;
  z-index:-1;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#fff;
  transition: 0.3s ease;
  overflow: hidden;
}

div#preloader-loader.show {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.54);
  transition: 0.3s ease;
}

form#addresslog-edit-form label {
  text-align: left;
  display: block;
  font-weight: 500;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 12px;
  line-height: 26px;
  font-size: 20px;
  width: 23px;
  height: 23px;
}

table.dataTable>tbody>tr.child ul.dtr-details {display: inline-block;float: left;}

div#addresslog_table_wrapper {
  background: rgb(255, 255, 255);
  padding: 20px 0;
  margin-bottom: 50px;
  border: 1px solid rgb(244, 247, 250);
}


div#addresslog_table_wrapper.dataTables_wrapper div.dataTables_filter {
  padding-right: 15px;
}

form#addresslog-edit-form .form-field-status .error {
  text-align: left;
}

div#address-log-modal h3 {
  font-weight: 700;
  color: rgb(93, 177, 8);
}

.form-wrapper .alert-success {
  font-weight: 500;
}

.selected-consignee-wrapper h5 {
  font-size: 19px;
  font-weight: 600;
  color: #fff;
}
.selected-consignee-wrapper.show {
  background: rgb(117, 137, 152);
  padding: 15px;
}

.selected-consignee-wrapper.show ul {
  list-style: circle;
  padding-left: 15px;
}

.selected-consignee-wrapper.show ul li {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid rgba(157, 225, 153, 0.4);
  margin-bottom: 8px;
  padding-bottom: 3px;
  color: #fff;
}

.selected-consignee-wrapper.show ul li span {
  font-weight: 600;
}

.business-information-proceed-wrapper h4 {
  font-size: 22px;
  font-weight: 700;
}

form#customer-business-information-proceed-form button {
  width: 100%;
  max-width: 260px;
}


section#dashboard-addresslog.parcel-show .container {
  text-align:left;
  padding-top: 80px;
}

section#dashboard-addresslog.parcel-show h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(52, 58, 64);
  margin-bottom: 30px;
}


/* select 2 style */

.form-group .select2-container {
  display: block;
  width: 100%;
  box-shadow: unset !important;
}

.form-group .select2-container .select2-selection {
  background: rgba(251, 251, 251, 0.28);
  border: 1px solid rgb(206, 212, 218);
  border-radius: 0.25rem;
  padding: 13px 20px 10px;
  height: calc(2.3rem + 2px);
  font-weight: 500;
  box-shadow: unset !important;
}

.form-group .select2-container .select2-selection .select2-selection__rendered {
  color: rgb(73, 80, 87);
  line-height: 15px;
  padding-left: 0;
  font-size: 1rem;
}

.form-group .select2-container .select2-selection .select2-selection__arrow {
  height: calc(2.3rem + 2px);
}

.form-group .select2-container .select2-selection .select2-selection__arrow b {
  border-color: #253278 transparent transparent transparent;
}

.select2-dropdown {
  background: rgb(248, 254, 249);
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: rgb(140, 148, 155);
  color: #fff;
}

.select2-results__option {
  color: rgb(52, 58, 64);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: rgb(120, 196, 73);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  background: rgb(255, 255, 255);
  color: rgb(52, 58, 64);
}


/* select 2 style end */


/* dropzone basic */

.dropzone,.dropzone *{box-sizing:border-box}.dropzone{position:relative}.dropzone .dz-preview{position:relative;display:inline-block;width:120px;margin:0.5em}.dropzone .dz-preview .dz-progress{display:block;height:15px;border:1px solid #aaa}.dropzone .dz-preview .dz-progress .dz-upload{display:block;height:100%;width:0;background:green}.dropzone .dz-preview .dz-error-message{color:red;display:none}.dropzone .dz-preview.dz-error .dz-error-message,.dropzone .dz-preview.dz-error .dz-error-mark{display:block}.dropzone .dz-preview.dz-success .dz-success-mark{display:block}.dropzone .dz-preview .dz-error-mark,.dropzone .dz-preview .dz-success-mark{position:absolute;display:none;left:30px;top:30px;width:54px;height:58px;left:50%;margin-left:-27px}

/* dropzone basic end */


.dropzone .dz-preview.dz-error .dz-error-message {
  position: absolute;
  opacity: 1;
  width: 290px;
  background: #fff;
  box-shadow: 0 2px 10px #f00;
  max-width: inherit;
  left: 0;
}


/*timeline start */


.timeline-centered {
  position: relative;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 17%;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  background: rgb(43, 118, 206);
  left: 177px;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}

.timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: left;
  margin-bottom: 30px;
  clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
  float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -22px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -205px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 14px;
  font-weight: bold;
  color: rgb(52, 58, 64);
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
  font-weight: 600;
  color: rgb(52, 58, 64);
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #737881;
  display: block;
  width: 15px;
  height: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f5f5f6;
  -webkit-box-shadow: 0 0 0 5px #f5f5f6;
  box-shadow: 0 0 0 5px #f5f5f6;
  line-height: 40px;
  font-size: 15px;
  float: left;
  position: relative;
  top: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #303641;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color: #ee4749;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color: #00a651;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color: #21a9e1;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color: #fad839;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
  background-color: #cc2424;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: rgb(255, 255, 255);
  padding: 12px 10px;
  margin-left: 45px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgb(212, 218, 225);
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: rgba(0, 0, 0, 0) rgb(211, 211, 229) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  left: 0;
  top: 10px;
  margin-left: -9px;
}


.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: -1px;
  background: rgb(106, 201, 97);
  top: 0;
  z-index: 1;
  border-radius: 3px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  text-transform: capitalize;
  color: rgb(85, 113, 140);
  font-size: 14px !important;
  margin: 0;
  line-height: 1.428571429;
  font-weight: 600;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 0px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #303641;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
}
/*timeline end */

.parcel-show h4 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open sans', sans-serif;
  color: rgb(80, 124, 74);
}

.parcel-info-wrapper {
  background: #fff;
  padding: 14px 16px;
  margin-bottom: 30px;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 7px;
}

.parcel-info-wrapper h5 {
  font-weight: 700;
  color: rgb(52, 58, 64);
}

.parcel-info-wrapper ul li span {
  font-size: 15px;
  font-weight: 600;
  color: #717171;
}

.parcel-info-wrapper ul li strong {
  font-size: 15px;
  font-weight: 700;
  color: rgb(87, 75, 75);
}

.parcel-info-wrapper ul {
  list-style: circle;
}

section#dashboard-upperinfo {
  padding-top: 50px;
}

section#dashboard-upperinfo h3 {
  font-weight: 400;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  color: rgb(103, 116, 129);
  font-size: 19px;
}