/* 

font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

/* Ui Componen5s */
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  margin-left: -18px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 13px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #44c553;
  border-color: #e0e0e0;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox.checkbox-sm label::before {
  width: 30px;
  height: 30px;
  top: -13px;
}
.checkbox.checkbox-sm label::after {
  width: 30px;
  height: 30px;
  padding-left: 4px;
  font-size: 20px;
  left: 1px;
  top: -13px;
}
.checkbox.checkbox-sm label {
  padding-left: 18px;
  top: 13px;
}
.checkbox.checkbox-md label::before {
  width: 34px;
  height: 34px;
  top: -17px;
}
.checkbox.checkbox-md label::after {
  width: 34px;
  height: 34px;
  padding-left: 4px;
  font-size: 24px;
  left: 1px;
  top: -18px;
}
.checkbox.checkbox-md label {
  padding-left: 22px;
  top: 17px;
}
.checkbox.checkbox-lg label::before {
  width: 46px;
  height: 46px;
  top: -28px;
}
.checkbox.checkbox-lg label::after {
  width: 46px;
  height: 46px;
  padding-left: 4px;
  font-size: 36px;
  left: 1px;
  top: -31px;
}
.checkbox.checkbox-lg label {
  padding-left: 34px;
  top: 32px;
}

.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #a3a7ab;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #44c553;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'Font Awesome 5 Pro';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

.radio.radio-sm label::before {
  width: 30px;
  height: 30px;
  top: -13px;
}
.radio.radio-sm label::after {
  width: 22px;
  height: 22px;
  padding-left: 4px;
  font-size: 20px;
  left: 4px;
  top: -9px;
}
.radio.radio-sm label {
  padding-left: 18px;
  top: 13px;
}
.radio.radio-md label::before {
  width: 34px;
  height: 34px;
  top: -17px;
}
.radio.radio-md label::after {
  width: 26px;
  height: 26px;
  padding-left: 4px;
  font-size: 24px;
  left: 4px;
  top: -13px;
}
.radio.radio-md label {
  padding-left: 22px;
  top: 17px;
}
.radio.radio-lg label::before {
  width: 46px;
  height: 46px;
  top: -28px;
}
.radio.radio-lg label::after {
  width: 36px;
  height: 36px;
  padding-left: 4px;
  font-size: 36px;
  left: 5px;
  top: -23px;
}
.radio.radio-lg label {
  padding-left: 34px;
  top: 32px;
}



/* Normal Styling */

html {
  scroll-behavior: smooth;
}

.sec-btns.text-right {width: 100px;position: absolute;right: 0;top: 0;padding-right: 15px;padding-left: 15px;}

.header-secondary  .row {
  position: relative;
}

a.logo-header img {
  width: 280px;
}

*:focus {
  outline: 1px solid #5dba47 !important;
}

section#intro-section {
  background: url(../img/stats-business.jpg) no-repeat center center / cover;
  position: relative;
  background-attachment: fixed;
  height: 610px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -35px;
  background-size: cover;
}

.header-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 20px;
}

section#intro-section h1 {
  font-size: 41px;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 611px;
}

section#intro-section:before {
  background: #000c17 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.intro-banner-btns {
  display: flex;
}

.intro-banner-btns a {
  background: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  margin-right: 19px;
  min-width: 128px;
  text-align: center;
  font-weight: 600;
}

.right-side {
  width: 250px;
  position: absolute;
  right: 15px;
  top: 35px;
}

.header-secondary .container {
  position: relative;
}

.header-secondary .right-side i {
  font-size: 20px;
  color: #0bb300;
  margin-right: 9px;
  width: 40px;
  text-align: center;
  font-size: 23px;
  height: 32px;
  padding: 4px 1px;
}

.header-secondary .right-side ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.header-secondary .right-side ul li {
  display: flex;
  align-items: center;
}

.header-secondary .right-side a {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}

.left-side {
  width: 250px;
  position: absolute;
  left: 15px;
  top: 35px;
}

.header-secondary .left-side i {
  font-size: 20px;
  color: #0bb300;
  margin-right: 9px;
  width: 40px;
  text-align: center;
  font-size: 23px;
  height: 32px;
  padding: 4px 1px;
}

.header-secondary .left-side ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.header-secondary .left-side ul li {
  display: flex;
  align-items: center;
}

.header-secondary .left-side a {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
}

img.enquire-img {
  width: 180px;
  margin: 0 auto;
}

.about_us_content h2 {
  color: #0baf01;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
}

.about_us_area {
  padding: 60px 0;
}

.about_us_content {
  /* padding-top: 80px; */
}

.about_us_content > a {
  color: #06a220;
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.about_us_content > a span {
  padding-left: 10px;
}

.about_us_content p {
  font-size: 15px;
  font-weight: 500;
}

.couter_up_area {
  height: 330px;
  position: relative;
  background: url(../img/stats-values2.jpg) no-repeat;
  background-position: left top;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  width: 100%;
}

.couter_up_area:before {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(247, 247, 247, 0.42);
  content: "";
  width: 100%;
  height: 100%;
}

.single_count > h1 {
  color: #333333;
  font-size: 60px;
}

.single_count > h5 {
  color: #333333;
  font-size: 16px;
  text-transform: capitalize;
}



/*end of counter up*/
.footer-area {
  background: #002144 none repeat scroll 0 0;
  padding: 70px 0;
}

.single-footer > h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.single-footer {
  font-size: 14px;
}

.submt-button {
  background: #06a220 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  height: 40px;
  margin-top: 15px;
  text-transform: uppercase;
  width: 50%;
  float: none;
}

.single-footer .form-control {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #06a220;
  color: #e6e6e8;
}

.footer-text {
  color: #fff;
}

.footer-text p {
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

.copyright-area {
  background: #343a40 none repeat scroll 0 0;
  padding: 20px 0 10px;
}

.footer-text a {
  background: #06a220 none repeat scroll 0 0;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
}

.footer-text a:hover {
  background: #fff none repeat scroll 0 0;
  color: #343a40;
}

.list > li a {
  color: #fff;
  line-height: 25px;
  text-transform: capitalize;
}

.list a:hover {
  color: #F9BF3B;
}

.submt-button:hover {
  background: #fff none repeat scroll 0 0;
  color: #f9bf3b;
}

a.logo-footer {
  display: block;
  margin-bottom: 11px;
}

a.logo-footer img {
  width: 160px;
  background: #fff;
  padding: 5px 10px;
}

a.fbr-logo {
  display: block;
}

a.fbr-logo img {
  width: 280px;
  background: #fff;
  padding: 5px 15px 10px;
}

ul.footer-quicklinks {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.footer-quicklinks li a {
  color: #ffffff;
  font-weight: 700;
}

ul.footer-quicklinks li a:before {
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
  margin-right: 4px;
  display: inline-block;
  color: #06a220;
}

.single-footer p {
  color: #fff;
  font-weight: 600;
}

ul.footer-quicklinks li {
  margin-bottom: 5px;
}

.navbar-dark .navbar-brand {
  font-size: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
}

section#login-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

section#login-section .tab-wrapper {
  margin: 0 auto;
  border: 1px solid #eaeaea;
  padding: 40px;
  box-shadow: 0 10px 10px #f1f1f1;
}

.bod-0 {
  border: 1px solid transparent;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-shadow: unset;
}

.bod-0:focus {
  outline: 0 !important;
  border: 1px solid transparent !important;
  border-bottom: 1px solid #002cb8 !important;
  box-shadow: unset;
}

ul.nav.nav-tabs {
  /* border: none; */
  margin-bottom: 30px;
}

section#login-section button[type=submit] {
  padding: 8px 40px;
  text-align: center;
  transition: 0.5s ease;
}

button[type=submit].btn-containing-loader.enabled {
  background: #fff;
  color:#3a3a3a;
  cursor: no-drop;
  opacity: 1;
}

button .loader {
  margin-right: 11px;
}

section#login-section .container {
  border: 1px solid #0baf01;
  padding: 30px 20px;
  max-width: 1140px;
}

button[type=submit].btn-containing-loader {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  height: 53px;
}

form .form-message {
  text-align: left;
  font-style: italic;
  font-size: 18px;
  font-weight: 600;
  color: #343a40;
  padding-right: 20px;
  margin-left: 19px;
  transition: 0.4s ease;
}

form .form-message.error {
  color: #f00;
}
form .form-message.success {
  color: #0baf01;
}

img.delivery_boy {
  width: 375px;
}

.form-field-status {display: block;}

.form-field-status .error {
  color: #f00;
  display: block;
  font-size: 15px;
  font-weight: 500;
}

section#dashboard-verification .container {
  background: #f5fff494;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  border: 1px solid #9de199;
  border-radius: 6px;
}

section#dashboard-verification {
  margin-top: 50px;
  margin-bottom: 50px;
}

section#dashboard-verification h2 {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: rgb(52, 58, 64);
  text-transform: capitalize;
  margin-bottom: 20px;
}

section#dashboard-verification .verification-note {
  max-width: 1050px;
  margin: 0 auto 30px;
  background: #fff;
  padding: 20px 15px;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
  text-align: left;
}



section#dashboard-verification .verification-note p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
}

.verification-uploader {
  text-align: left;
}

.verification-uploader h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(28, 60, 130);
  text-align: left;
}

.verification-uploader .dropzone .dz-message .dz-button {
  font-weight: 600;
}

.verification-uploader .dropzone .dz-message {
  margin: 4em 0;
}

.verification-uploader .dropzone {
  min-height: 100px;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
  position: relative;
  background: rgb(220, 220, 220);
}

section#dashboard-verification .verification-note ol {
  padding-left: 30px;
  text-align: left;
}

section#dashboard-verification .verification-note li {
  color: rgb(104, 104, 104);
  font-weight: 600;
}

.verification-uploaded img {
  height: auto;
  width: 100%;
}

.verification-uploaded {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  width: 100%;
  padding: 15px 15px;
  background: #fff;
  margin-bottom: 30px;
  text-align: left;
  justify-content: flex-start;
}

.verification-uploaded h4 {
  color: rgb(11, 179, 0);
  font-size: 18px;
  font-weight: 700;
}

.verification-uploaded-note {
  margin: 20px auto;
  max-width: 620px;
  background: rgb(52, 58, 64);
  padding: 30px 20px;
  border: 1px solid rgb(157, 225, 153);
}

.verification-uploaded-note h4 {
  font-size: 21px;
  line-height: 29px;
  color: rgb(11, 179, 0);
}

section#dashboard-parcels .container {
  background: rgba(245, 255, 244, 0.5803921568627451);
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
}

section#dashboard-parcels {
  margin-top: 50px;
  margin-bottom: 50px;
}

span.logo-green {
  color: rgb(94, 178, 8);
  font-weight: 500;
}

span.logo-blue {
  color: rgb(33, 78, 183);
  font-weight: 500;
}

section#dashboard-addresslog .container {
  background: rgba(245, 255, 244, 0.5803921568627451);
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  border: 1px solid rgb(157, 225, 153);
  border-radius: 6px;
}

section#dashboard-addresslog {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* dropzone basic */

.dropzone,.dropzone *{box-sizing:border-box}.dropzone{position:relative}.dropzone .dz-preview{position:relative;display:inline-block;width:120px;margin:0.5em}.dropzone .dz-preview .dz-progress{display:block;height:15px;border:1px solid #aaa}.dropzone .dz-preview .dz-progress .dz-upload{display:block;height:100%;width:0;background:green}.dropzone .dz-preview .dz-error-message{color:red;display:none}.dropzone .dz-preview.dz-error .dz-error-message,.dropzone .dz-preview.dz-error .dz-error-mark{display:block}.dropzone .dz-preview.dz-success .dz-success-mark{display:block}.dropzone .dz-preview .dz-error-mark,.dropzone .dz-preview .dz-success-mark{position:absolute;display:none;left:30px;top:30px;width:54px;height:58px;left:50%;margin-left:-27px}

/* dropzone basic end */


.dropzone .dz-preview.dz-error .dz-error-message {
  position: absolute;
  opacity: 1;
  width: 290px;
  background: #fff;
  box-shadow: 0 2px 10px #f00;
  max-width: inherit;
  left: 0;
}
