/* Your custom CSS code */

.form-message.success, .form-message.error {
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px 15px;
}
#form-login .btn.btn-outline-success {
    color: #fff;
}

table#users_table .btn-status {
    padding: 6px 5px;
    line-height: 22px;
    font-size: 11px;
    cursor: initial;
}

.btn.btn-icon {
    min-width: 48px;
}

/*table.actions tr td:last-child {*/
/*    text-align: left;*/
/*}*/

ul.view-details.btn-clipboards {
    list-style: circle;
    padding-left: 15px;
    display: inline-block;
}

ul.view-details.btn-clipboards {}

ul.view-details.btn-clipboards li {
    padding: 15px 0  15px 0;
    border-bottom: 1px solid rgb(218, 218, 226);
    clear: both;
}

ul.view-details.btn-clipboards li button span {
    font-size: 14px;
    color: rgb(134, 134, 148);
    padding: 5px 0;
}

.verification-uploaded {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    width: 100%;
    padding: 15px 15px;
    background: #fff;
    margin-bottom: 30px;
    text-align: left;
    justify-content: flex-start;
}

.verification-uploaded img {
    height: auto;
    width: 100%;
}

ul.view-details.btn-clipboards li button {
    float: right;
    margin-left: 2em;
}

.form-group small.active {
    transform: translateY(100%) scale(1);
    color: rgb(103, 74, 238);
    font-weight: 400;
    top: 8px;
    position: relative;
    margin-left: 16px;
}

.shipment-created{
    background: #ffd547;
}

.shipment-picked{
    background: #ffb3e8;
}
.delivery-in-process{
    background: #3d8ed4;
    color: #fff;
}
.delivered-payment-in-process{
    background: #fffdba;
}
.delivered{
    background: #a2ff67;
}
.undelivered{
    background: #b1b1b1;
}
.reattempt{
    background: #ccbbff;
}
.return-in-process{
    background: #2ea892;
    color: #fff;
}
.returned{
    background: #ff5f5f;
    color: #fff;
}

table.mini-table {
    min-width: 320px;
}

table.mini-table th, table.mini-table td {
    height: 44px;
    padding: 10px;
}

.table tbody th, .table td {
    vertical-align: middle;
}

select.form-control {
    margin-bottom: 7px;
}